# Sine and Cosine Functions Tabulation
### Cell 1: Function to compute `sin(x)`
This function takes an input value `x` and returns the sine of `x`.

In [ ]:
import numpy as np

def sin_x(x):
    return np.sin(x)

### Cell 2: Function to compute `cos(x)`
This function takes an input value `x` and returns the cosine of `x`.

In [6]:
def cos_x(x):
    return np.cos(x)

In [7]:
import pandas as pd

x_values = np.linspace(0, 2, 1000)
sin_values = sin_x(x_values)
cos_values = cos_x(x_values)

df = pd.DataFrame({
    'x': x_values,
    'sin(x)': sin_values,
    'cos(x)': cos_values
})

df.head()

          x    sin(x)    cos(x)
0  0.000000  0.000000  1.000000
1  0.002002  0.002002  0.999998
2  0.004004  0.004004  0.999992
3  0.006006  0.006006  0.999982
4  0.008008  0.008008  0.999968

In [10]:
print(f"{'x':<10}{'sin(x)':<15}{'cos(x)'}")

# Using a for loop to print the first 10 values
for i in range(10):
    print(f"{x_values[i]:<10.4f}{sin_values[i]:<15.10f}{cos_values[i]:<15.10f}")

x         sin(x)         cos(x)
0.0000    0.0000000000   1.0000000000
0.0020    0.0020020007   0.9999979960
0.0040    0.0040039933   0.9999919840
0.0060    0.0060059699   0.9999819640
0.0080    0.0080079224   0.9999679361
0.0100    0.0100098428   0.9999499003
0.0120    0.0120117231   0.9999278567
0.0140    0.0140135553   0.9999018053
0.0160    0.0160153313   0.9998717464
0.0180    0.0180170431   0.9998376799